html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#header-nav {
    z-index: 999;
    padding: 10px 10px 0 10px;
}
.navbar {
	margin-bottom: 0px;
	min-height: 55px;
	background-color: transparent;
	background-color: rgba(256, 256, 256, 0.6);
	border-color: transparent;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#map {
	height: 100%;
	width: 100%;
}
.leaflet-top .leaflet-control {
	margin-top: 50px;
}
.input-group-addon {
	font-size: 18px;
}
.input-group-addon.glyphicon {
	position: relative;
	top: 0px;
	height: 34px;
}
.input-group.locator {
	max-width: 350px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1010;
}
.container {
	position: absolute;
	z-index: 1010;
	height: 100%;
	width: 100%;
	padding: 0;
	max-width: 100%;
}
.filter {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1010;
}
#reportrange {
	border-radius: 4px;
	margin-left: 10px;
	background: #fff; 
	cursor: pointer; 
	padding: 6px 12px; 
	border: 1px solid #ccc;
}
.category {
	z-index: 1010;
}


@media (max-width: 560px) {
	.category {
		display: block;
		right: 0px;
		position: absolute;
		top: 40px;
	}
	.leaflet-control-attribution {
		display: none;
	}
}
@media (max-width: 900px) {
	.filter {
		position: absolute;
		top: 70px;
		right: 10px;
		z-index: 1010;
	}

}



